@model Jzm.Rent.WebApp45.Models.DeviceInfo
@{
    ViewBag.Title = "GetDeviceByUID";
    Layout = "~/Views/Shared/_LayoutJzm.cshtml";
}

<h2>GetDeviceByUID</h2>

<div>

    <input type="text" name="DeviceName" value="@Model.DeviceName" />
</div>
<div>

<input type="text" name="DeviceUID" value="@Model.DeviceUID" />
</div>