<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <link href="~/Content/PageBarStyle.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        
        
    </div>

    
</body>
</html>
