
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_LayoutJzm.cshtml";
}

<h2>AddUser</h2>
<div>
    <form action="~/UserList/AddUser" method="post">

        <table>
            <tr>
                <td>FirstName:</td>
                <td>
                    <input type="text" name="FirstName" />
                </td>
            </tr>
            <tr>
                <td>LastName:</td>
                <td>
                    <input type="text" name="LastName" />

            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add User" />
                </td>
            </tr>
        </table>

    </form>
</div>
